In [142]:
!pip install pandas

Requirement already satisfied: pandas in /Users/davidemolinelli/miniconda3/envs/ride-sharing-simulator/lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/davidemolinelli/miniconda3/envs/ride-sharing-simulator/lib/python3.9/site-packages (from pandas) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /Users/davidemolinelli/miniconda3/envs/ride-sharing-simulator/lib/python3.9/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/davidemolinelli/miniconda3/envs/ride-sharing-simulator/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/davidemolinelli/miniconda3/envs/ride-sharing-simulator/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd
import itertools

In [2]:
df_speed = pd.read_csv("../data/san_francisco_speed.csv")

In [3]:
df_ways = pd.read_csv("../data/way_ids_sf_n_o.csv")

In [4]:
df_taz_q_1 = pd.read_csv("../data/san_francisco-taz-2018-1-All-HourlyAggregate.csv")
df_taz_q_1["quarter"] = 1
df_taz_q_2 = pd.read_csv("../data/san_francisco-taz-2018-2-All-HourlyAggregate.csv")
df_taz_q_2["quarter"] = 2
df_taz_q_3 = pd.read_csv("../data/san_francisco-taz-2018-3-All-HourlyAggregate.csv")
df_taz_q_3["quarter"] = 3
df_taz_q_4 = pd.read_csv("../data/san_francisco-taz-2018-4-All-HourlyAggregate.csv")
df_taz_q_4["quarter"] = 4
frames = [df_taz_q_1, df_taz_q_2, df_taz_q_3, df_taz_q_4]
df_taz = pd.concat(frames)

In [5]:
df_taz_ids = pd.read_csv("../data/taz_ids_sf_n_o.csv")

In [6]:
df_mov_ids = pd.read_csv("../data/movement_ids_sf_n_o.csv")

In [7]:
df_speed.shape

(21086235, 13)

In [8]:
df_speed.head()

,year,quarter,hour_of_day,segment_id,start_junction_id,end_junction_id,osm_way_id,osm_start_node_id,osm_end_node_id,speed_mph_mean,speed_mph_stddev,speed_mph_p50,speed_mph_p85
0,2018,1,17,df089962c85c67603f2e90c969931d72ab02c1ee,5bea0e8381e051830525c0aba0141bde108dc02d,2278ad9374ec96c35a0d769bc8a275f6355b55da,40722998,5780849015,4927951349,26.387,7.985,23.598,37.601
1,2018,1,22,df089962c85c67603f2e90c969931d72ab02c1ee,5bea0e8381e051830525c0aba0141bde108dc02d,2278ad9374ec96c35a0d769bc8a275f6355b55da,40722998,5780849015,4927951349,26.511,7.663,25.989,32.295
2,2018,1,19,df089962c85c67603f2e90c969931d72ab02c1ee,5bea0e8381e051830525c0aba0141bde108dc02d,2278ad9374ec96c35a0d769bc8a275f6355b55da,40722998,5780849015,4927951349,25.704,10.623,24.357,30.325
3,2018,1,0,df089962c85c67603f2e90c969931d72ab02c1ee,5bea0e8381e051830525c0aba0141bde108dc02d,2278ad9374ec96c35a0d769bc8a275f6355b55da,40722998,5780849015,4927951349,25.001,8.346,24.470,33.556
4,2018,1,1,df089962c85c67603f2e90c969931d72ab02c1ee,5bea0e8381e051830525c0aba0141bde108dc02d,2278ad9374ec96c35a0d769bc8a275f6355b55da,40722998,5780849015,4927951349,26.750,7.471,25.989,31.402

In [9]:
df_ways.shape

(12488, 1)

In [10]:
df_ways.head()

   osm_way_id
0    87554970
1   922496211
2   133781781
3   675941015
4    24335490

In [11]:
df_taz.shape

(151185924, 8)

In [12]:
df_taz.head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time,quarter
0,500,852.0,16.0,541.33,227.23,472.69,1.80,1
1,500,913.0,14.0,246.91,131.86,214.52,1.73,1
2,576,497.0,22.0,350.62,193.89,301.64,1.73,1
3,586,497.0,15.0,503.27,231.48,447.95,1.66,1
4,594,583.0,16.0,117.40,119.64,77.59,2.37,1

In [13]:
df_taz = df_taz.dropna()
df_taz.dstid = df_taz.dstid.astype(int)
df_taz.hod = df_taz.hod.astype(int)

In [14]:
df_taz.shape

(151185922, 8)

In [15]:
df_taz.head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time,quarter
0,500,852,16,541.33,227.23,472.69,1.80,1
1,500,913,14,246.91,131.86,214.52,1.73,1
2,576,497,22,350.62,193.89,301.64,1.73,1
3,586,497,15,503.27,231.48,447.95,1.66,1
4,594,583,16,117.40,119.64,77.59,2.37,1

In [16]:
df_taz.loc[(df_taz["sourceid"]==3377) & (df_taz["dstid"]==3438)]

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time,quarter
4202422,3377,3438,14,185.90,142.20,158.51,1.70,1
4521242,3377,3438,17,207.38,154.21,176.25,1.72,1
6434946,3377,3438,19,158.96,114.26,140.91,1.57,1
9629859,3377,3438,1,137.00,89.42,124.04,1.51,1
10905873,3377,3438,18,188.65,134.21,162.22,1.68,1
...,...,...,...,...,...,...,...,...
38840678,3377,3438,6,154.40,90.06,139.67,1.51,4
39047813,3377,3438,4,137.00,75.18,125.62,1.46,4
39370376,3377,3438,15,211.16,174.85,175.23,1.76,4
41056579,3377,3438,0,141.87,78.03,131.18,1.43,4
46462810,3377,3438,7,259.02,159.10,221.94,1.74,4

In [17]:
df_taz_ids.shape

(311, 1)

In [18]:
df_taz_ids.head()

   taz_id
0  100281
1  100301
2  100324
3  100321
4  100284

In [19]:
df_mov_ids.shape

(311, 1)

In [20]:
df_mov_ids.head()

   movement_id
0         3370
1         3372
2         3375
3         3389
4         3394

In [21]:
df_map_speed = pd.merge(df_speed, df_ways, how ='inner', on =["osm_way_id"])

In [22]:
df_map_speed.shape

(2281929, 13)

In [23]:
df_map_speed.head()

,year,quarter,hour_of_day,segment_id,start_junction_id,end_junction_id,osm_way_id,osm_start_node_id,osm_end_node_id,speed_mph_mean,speed_mph_stddev,speed_mph_p50,speed_mph_p85
0,2018,1,13,9457853c09fdae3b2b6ed0156a349ecc37e3b8aa,70352b1548bacb23e9030a524883992691f697cb,efdf1ffb248abe302d4fe9ccf67269fd671f55e0,417400722,4179595252,65293753,14.366,11.783,10.373,27.898
1,2018,1,21,9457853c09fdae3b2b6ed0156a349ecc37e3b8aa,70352b1548bacb23e9030a524883992691f697cb,efdf1ffb248abe302d4fe9ccf67269fd671f55e0,417400722,4179595252,65293753,17.361,11.828,17.256,29.858
2,2018,1,5,9457853c09fdae3b2b6ed0156a349ecc37e3b8aa,70352b1548bacb23e9030a524883992691f697cb,efdf1ffb248abe302d4fe9ccf67269fd671f55e0,417400722,4179595252,65293753,14.271,10.704,8.371,26.482
3,2018,1,2,9457853c09fdae3b2b6ed0156a349ecc37e3b8aa,70352b1548bacb23e9030a524883992691f697cb,efdf1ffb248abe302d4fe9ccf67269fd671f55e0,417400722,4179595252,65293753,19.698,11.991,20.051,32.134
4,2018,1,17,9457853c09fdae3b2b6ed0156a349ecc37e3b8aa,70352b1548bacb23e9030a524883992691f697cb,efdf1ffb248abe302d4fe9ccf67269fd671f55e0,417400722,4179595252,65293753,8.912,9.787,3.817,21.192

In [24]:
mov_ids = df_mov_ids["movement_id"].to_list()
mov_ids_product = list(itertools.product(mov_ids,mov_ids))
df_src_dst = pd.DataFrame(mov_ids_product, columns=["sourceid", "dstid"])
df_map_taz = pd.merge(df_taz, df_src_dst, how ='inner', on =["sourceid", "dstid"])

In [25]:
df_map_taz_filtered = df_map_taz[["sourceid", "dstid", "hod", "mean_travel_time", "standard_deviation_travel_time", "geometric_mean_travel_time", "geometric_standard_deviation_travel_time"]]
df_avg_taz = df_map_taz_filtered.groupby(["sourceid","dstid"]).mean()
df_avg_taz = df_avg_taz.reset_index()

In [26]:
df_avg_taz.loc[(df_avg_taz["sourceid"]==3377) & (df_avg_taz["dstid"]==3438)]

Empty DataFrame
Columns: [sourceid, dstid, hod, mean_travel_time, standard_deviation_travel_time, geometric_mean_travel_time, geometric_standard_deviation_travel_time]
Index: []

In [27]:
df_avg_taz.loc[(df_avg_taz["sourceid"]==3438) & (df_avg_taz["dstid"]==3377)]

Empty DataFrame
Columns: [sourceid, dstid, hod, mean_travel_time, standard_deviation_travel_time, geometric_mean_travel_time, geometric_standard_deviation_travel_time]
Index: []

In [28]:
df_avg_taz.shape

(96626, 7)

In [29]:
df_avg_taz.head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,3370,3370,23.000000,157.625000,247.637500,98.230000,2.422500
1,3370,3372,11.621951,272.992927,133.311951,247.314146,1.617439
2,3370,3375,11.545455,500.054675,155.939221,480.618052,1.311688
3,3370,3389,11.928571,410.892738,152.570595,389.518810,1.366548
4,3370,3394,11.965116,139.153721,93.618953,112.394302,2.127907

In [30]:
df_map_speed_filtered = df_map_speed[["osm_way_id", "speed_mph_mean", "speed_mph_stddev", "speed_mph_p50", "speed_mph_p85"]]
df_avg_speed = df_map_speed_filtered.groupby("osm_way_id").mean()

In [31]:
df_avg_speed = df_avg_speed.reset_index()
df_avg_speed.head()

   osm_way_id  speed_mph_mean  speed_mph_stddev  speed_mph_p50  speed_mph_p85
0     5071582       58.022448         11.353969      59.317385      68.703073
1     7373728       12.755220          3.376898      12.760051      15.583475
2     7373736       15.057708          4.615004      15.112352      19.272696
3     7448875       17.100707          3.629133      17.227733      20.556253
4     8914965       17.462577          5.027654      16.890462      21.902500

In [32]:
df_map_speed_filtered = df_map_speed[["osm_way_id", "speed_mph_mean", "speed_mph_stddev", "speed_mph_p50", "speed_mph_p85"]]
df_avg_speed = df_map_speed_filtered.groupby("osm_way_id").mean()

In [33]:
df_avg_speed.shape

(9496, 4)

In [34]:
df_avg_speed.to_csv("../data/avg_speed_sf_n_o.csv", index=False)

In [35]:
df_avg_taz.to_csv("../data/avg_taz_travel_time_sf_n_o.csv",index=False)

In [36]:
df_avg_taz.to_json("../data/avg_taz_travel_time_sf_n_o.json")